.wrapper {
  position: relative;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin-left: 200px; /* Ensure content doesn't overlap with left menu */
  background-color: white; /* Set background color to white */
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 500px; /* Increase width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1; /* Take remaining space */
}

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.search-button svg {
  width: 20px;
  height: 20px;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.button {
  background: var(--secondary-bg-color); /* Use custom variable for button background color */
  color: white; /* Set text color to white */
  border: none;
  border-radius: 20px; /* Rounded border */
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px; /* Add space between elements */
}

.button:hover {
  background: var(--secondary-bg-color); /* Darken the background color on hover */
}

.table-section {
  margin-top: 20px;
  margin-left: 200px; /* Ensure content doesn't overlap with left menu */
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.middle-section {
  background-color: white; /* Set background color to white */
  padding: 40px;
  flex: 1;
  height: auto;
  width: 100%;
  overflow-x: auto;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
