.card {
  width: 300px;
  height: auto; /* Adjust height as needed */
  border-radius: 10px;
  padding: 20px;
  /*color: black;*/
  display: flex;
  flex-direction: column;
  font-size: 18px;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  /*box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);*/
}

.card-header {
  display: flex;
  justify-content: space-between;
  border-color: transparent;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-value {
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  margin-top: 20px;
}

.chart-container {
  width: 100%;
  height: 200px; /* Adjust height as needed */
}

.first-card {
  background-color: #FFE8E8;
  color: #7A0303;
}

.second-card {
  background-color: #DBF4F9;
  color: #061428;
}

.third-card {
  background-color: #DFFDE3;
  color: #1A5903;
}

.fourth-card {
  background-color: #FFE7D6;
  color: #8A4607;
}
