<app-navbar></app-navbar>
<div style="background-color: var(--secondary-bg-color)">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="text">
					<h1 class="title">EU - Europa</h1>
					<div class="desc">
						<p>
							We are linked into the European Commission’s Directorate General SANTE
							programs on the #EuHealthUnion, such as:
						</p>
						<mat-list>
							<mat-list-item
								><a
									class="text-decoration-none"
									href="https://digital-strategy.ec.europa.eu/en/policies/electronic-health-records"
									>Electronic Health Records</a
								></mat-list-item
							>
							<mat-list-item
								><a
									class="text-decoration-none"
									href="https://health.ec.europa.eu/cross-border-healthcare/overview_en"
									>Cross-border Healthcare</a
								></mat-list-item
							>
							<mat-list-item
								><a
									class="text-decoration-none"
									href="https://ec.europa.eu/solvit/problems-solved/health/index_en.html"
									>Problems solved</a
								></mat-list-item
							>
							<mat-list-item
								><a
									class="text-decoration-none"
									href="https://eit.europa.eu/our-communities"
									>Our communities</a
								></mat-list-item
							>
							<mat-list-item
								><a
									class="text-decoration-none"
									href="https://europeanspas.eu/post-corona-treatments/"
									>Post-Corona treatments</a
								></mat-list-item
							>
						</mat-list>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="image text-center">
					<img
						src="assets/images/eu.png"
						alt="Imaginea mea"
						loading="lazy"
						class="img-fluid max-width-00"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
