<div class="container">
  <div class="content">
    <h1>Access Denied</h1>
    <p>We're sorry, but you do not have permission to access this page.</p>
    <br />
    <br />
    <h2>Possible Reasons:</h2>
    <ul class="reasons">
      <li><strong>Unauthorized Access:</strong> You may not have the necessary permissions to view this content. Access to this page is restricted to authorized users only.</li>
      <li><strong>Role-based Access Control:</strong> The content you're trying to access is restricted to specific roles or user groups. Please contact your administrator if you believe you should have access.</li>
      <li><strong>Login Required:</strong> You might need to log in to access this page. Please ensure you are logged in with the correct credentials.</li>
    </ul>
    <br />
    <br />
    <h2>What You Can Do:</h2>
    <ul class="reasons">
      <li><strong>Contact Support:</strong> If you believe you should have access to this page, please <a href="#">contact our support team</a> for assistance.</li>
      <br />
      <li><strong>Return to Home Page:  </strong> </li>
      <button class="btn" (click)="redirectToHome()">Go to Home</button>
    </ul>

  </div>
</div>
