<app-navbar></app-navbar>
<div class="wrapper mb-5">
	<div class="container">
		<div class="left-section">
			<div class="text">
				<div class="l1">Long COVID</div>
				<div class="l2">Symptom Tracker</div>
			</div>

			<div class="description mb-2">
				Our Long COVID system is your personal companion in the battle against Long COVID.
				We provide a powerful yet easy-to-use platform for tracking and visualizing your
				symptoms.
			</div>

			<a href="#about">
				<button class="btn rounded-pill start-button">Get Started</button></a
			>
		</div>

		<div class="right-section">
			<div class="image">
				<img src="assets/images/intro.png" loading="lazy" class="d-none d-lg-block" />
			</div>
		</div>
	</div>

	<!--? Arrow down icon  -->
	<div class="text-center animate-bounce mb-5">
		<a href="#about" class="text-light position-relative">
			<fa-icon [icon]="faCircle" class="circle_parent"></fa-icon>
			<fa-icon [icon]="faChevronDown" class="arrow_child"></fa-icon>
		</a>
	</div>

	<app-about-page id="about"></app-about-page>
	<app-technology-page id="technology"></app-technology-page>
</div>
