.mat-flat-button {
	border-radius: 30px;
	height: 30px;
	flex-shrink: 0;
}
.img-sort {
	vertical-align: text-top;
}

.rounded-field {
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

th.mat-sort-header-sorted {
	color: black;
}
