<div class="d-flex justify-content-evenly">
	<form class="example-form">
		<mat-form-field class="example-full-width">
			<input matInput placeholder="Search" value="" />
		</mat-form-field>
	</form>
	<div class="example-button-row">
		<div class="example-button-container">
			<button
				mat-flat-button
				style="background-color: var(--main-bg-color); color: var(--text-white-color)"
			>
				<img src="../../assets/images/svg/sort.svg" alt="Sort" />
				Sort
			</button>
		</div>
	</div>
</div>
